%h1
  = t('comments.title')
.row
  .comments_all.col-lg-6
    - @comments.each do |comment|
      .comment
        .comment_top
          .comment_name
            = comment.user.name
          .comment_date
            = comment.created_at.strftime('%Y-%m-%d %H:%M')
          .comment_image
            = link_to "#{comment.image.title}", image_path(comment.image_id)
        .comment_body
          = comment.body
    = paginate @comments, window: 2