%h3 Parse results
- if @images
  .images_all
    - @images.each do |img|
      .image_sepr
        = form_for Image.new, url: admin_image_parser_save_data_url, method: :post, remote: true do |f|
          %img{src: img.to_s, width: 200}
          = f.select :category_id, options_from_collection_for_select(@categories, 'id', 'title')
          = f.text_field :title, placeholder: 'Title'
          = f.hidden_field :remote_img_name_url, value: img.to_s
          %button.delete_img remove
          = f.submit 'Save'
#lightbox
  .overlay
  .original_img


