%h1
  = "#{@category.title}"
- unless @images.empty?
  .images_all
    - @images.each do |category_img|
      = link_to image_path(category_img) do
        = image_tag category_img.img_name.url(:thumb)
= paginate @images, window: 2