%p
  = "#{t('views.devise.welcome')} #{@email}!"
%p
  = t('views.devise.email_text')
%p
  = link_to t('views.devise.conf_acc'), confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
