%p
  = "#{t('views.devise.hello')} #{@resource.email}!"
%p
  = t('views.devise.text_someone')
%p
  = link_to t('views.devise.change_pass'), edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p
  = t('views.devise.text_if_you')
%p
  = t('views.devise.text_your_pass')
