%p
  = "#{t('views.devise.hello')} #{@resource.email}!"
%p
  = t('views.devise.text_acc_block')
%p
  = t('views.devise.text_click_link')
%p
  = link_to t('views.devise.unlock_acc'), unlock_url(@resource, unlock_token: @resource.unlock_token)
