%h1
  = t('images.title')
.row
  .image_tits.col-lg-12
    #gallery
      #slide-nav
        %ul
          - count = 0
          - @images.each do |img|
            %li.slide-item
              %span{id: "#{count}"}
                - count += 1
                = image_tag img.img_name, width: 32, height: 32
      #slides
        - @images.each do |img|
          .slide
            .pos_image
              = link_to image_path(img) do
                = image_tag img.img_name
.pager_images
  = paginate @images, window: 2