.row
  .col-lg-6
    .image_comments
      %h1
        = "#{t('images.show_title')} #{@image.title}"
      - @comments.each do |img_comment|
        .img_comment
          .comment_user_name
            %strong
              = img_comment.user.name
            %span
              = img_comment.created_at.strftime('%Y-%m-%d %H:%M')
          .comment_body
            = img_comment.body
    - if @comments.total_pages > 1
      .more_comments.btn.btn-primary{data: {pages: "#{@comments.total_pages}"}}
        = t('images.more_comments')
  .col-lg-6.text-right
    .for_image
      = image_tag @image.img_name.url, id: "#{@image.id}"
      - if user_signed_in?
        - if @image.likes.any? {|like| like[:user_id] == current_user.id}
          #like_down.btn.btn-danger.for_like
            DisLike
        - else
          #like_up.btn.btn-primary.for_like
            Like
      .image_likes.btn.btn-danger
        = "#{t('images.tot_likes')} ("
        %span= @image.likes_count
        )
    - if user_signed_in?
      .comments_form
        = render partial: 'comments/form'
    -else
      .comment_tips
        = t('images.img_tips')
        = link_to t('cat.sign_in'), new_user_session_path