.for_image
  = image_tag @image.img_name.url, id: "#{@image.id}"
.image_likes
  = "Total likes - #{@image.likes_count}"
.image_comments.col-lg-4
  - @image.comments.each do |img_comment|
    .img_comment
      .comment_user_name
        = img_comment.user.name
      .comment_body
        = img_comment.body
- if user_signed_in?
  - if @image.likes.any? {|like| like[:user_id] == current_user.id}
    #like_down.btn.btn-danger
      DisLike
  - else
    #like_up.btn.btn-primary
      Like
  .comments_form
    = render partial: 'comments/form'