!!!
%html
  %head
    %title
      Catalog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
%body
  .container
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        = link_to 'Catalog', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          = nav_link_to('Categories', categories_path, 'categories')
          = nav_link_to('Images', images_path, 'images')
          = nav_link_to('Comments', comments_path, 'comments')
        #user_nav.pull-right
          - if user_signed_in?
            %span Signed in as
            = current_user.email
            %span Not you?
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
          - else
            = link_to 'Sign up', new_user_registration_path
            %span or
            = link_to 'Sign in', new_user_session_path
    .content.row
      .main_content
        - if flash[:error]
          %p.alert.alert-error
            = flash.now[:error]
        - if flash[:notice]
          %p.alert.alert-success
            = flash.now[:notice]
        - if flash[:alert]
          %p.alert.alert-info
            = flash.now[:alert]
        = yield
    %footer
      .copy
        = "© #{Time.now.strftime('%Y')} Natisk, Inc."
      .org
        RoRteam